<form autocomplete="{{o_autocomplete}}" class="{{o_class}}" method="{{o_method}}" id="{{o_id}}" action="{{o_action}}">
    {{o_content}}
</form>

<!--
<?= Form::generate(['id' => 'frm-page_edit', 'nonce' => ['frm-pe-n', $nonce]],
[
[
'value'       => $p_title,
'name'        => 'title',
'maxlength'   => PageValidator::MAX_TITLE_LENGTH,
'placeholder' => 'Page Title'
], [
'value'       => $p_subtitle,
'name'        => 'title',
'maxlength'   => PageValidator::MAX_TITLE_LENGTH,
'placeholder' => 'Page Subtitle'
], [
'el'          => 'textarea',
'type'        => 'text',
'value'       => $nonce,
'name'        => 'description',
'size'        => [30, 10],
'maxlength'   => PageValidator::MAX_DESCRIPTION_LENGTH,
'placeholder' => 'Description'
],

]) ?>-->
