@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clickable {
  cursor: pointer;
}
.hide {
  display: none;
}
.no-margin-collapse:before,
.no-margin-collapse:after {
  content: ' ';
  display: table;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
html,
body {
  height: 100%;
}
body,
input,
textarea,
select {
  color: #3b3738;
  font-family: 'Source Code Pro', 'Inconsolata', Arial, "Lucida Grande", sans-serif;
  font-size: 19px;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 26px;
}
body {
  background: #b1b0b1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  -ms-word-wrap: normal;
  word-wrap: normal;
  -ms-word-break: keep-all;
  word-break: keep-all;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}
h1 {
  margin: .25em auto;
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 23px;
}
h6 {
  font-size: 20px;
}
p {
  margin: 0 0 10px 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.main-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  float: left;
  position: relative;
}
.main-wrapper > img {
  width: 100%;
}
.error {
  color: #b00000;
}
.success {
  color: #00aa00;
}
.tentative {
  color: #cba54e;
}
